html {
	box-sizing: border-box;
}

*,
 :before,
 :after {
	box-sizing: inherit;
}

:root {
	margin: 4em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

.hlavicka {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: stretch;
	margin-bottom: 2em;
}

.menu {
	display: flex;
	justify-content: flex-end;
}

.menu ul li {
	display: inline;
	list-style-type: none;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 600;
	color: red;
	padding: 10px;
}

.menu a {
	text-decoration: none;
	color: red;
	padding: 1em;
}

.menu a:hover {
	color: white;
	background-color: red;
}

.nabidka {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
}

.karta__velka {
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

.karta__mala {
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

.karta__cena {
	grid-row: 1;
	margin: 1em;
	padding: 1em;
	color: white;
	font-weight: 500;
	background-color: red;
	text-align: center;
}

.karta__popis,
.karta__titulek {
	margin: 1em;
	color: white;
	text-shadow: 0 0 4px hsla(0, 0%, 0%, 0.3);
}

.karta__velka h3 {
	font-size: 2em;
	margin: 0;
}

.karta__popisek {
	font-weight: 600;
}

.palmy {
	background-image: url(podklady/palmy.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-column: 1/2;
	grid-row: 1/3;
	aspect-ratio: 4/2;
}

.jezero {
	display: flex;
	background-image: url(podklady/jezero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-column: 2;
	grid-row: 1;
}

.kolo {
	display: flex;
	background-image: url(podklady/nakole.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-column: 2;
	grid-row: 2;
}

.nazev-skupiny {
	margin-top: 2.5em;
	font-size: 1em;
}

.sluzby {
	margin-top: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1;
	grid-column-gap: 10px;
}

.novinky {
	margin: 1em 0 2em 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1;
	grid-column-gap: 10px;
	font-weight: 500;
}

.karta__seda {
	background-color: #F0F0F0;
	text-align: center;
	padding: 1.5em;
}

.karta__seda__nadpis {
	color: red;
	padding: 0.2em;
}

.novinky .karta__seda {
	text-align: left;
}

.last_minute {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
}

.lodicka {
	background-image: url(podklady/lodicka.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-column: 2/4;
	grid-row: 1/4;
}

.canyon {
	background-image: url(podklady/podkova.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-column: 1;
	grid-row: 1;
	aspect-ratio: 4/2;
	width: 100%;
}

.kanary {
	background-image: url(podklady/zatoka.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-column: 1;
	grid-row: 2;
	aspect-ratio: 4/2;
}

footer {
	font-size: 1.2em;
	text-shadow: ;
	font-weight: 600;
	text-align: center;
	color: white;
	background-color: #444444;
	padding: 1em;
	text-shadow: 0 0 5px hsla(313, 76%, 53%, 0.972);
}